<%- include('../partials/header') %>
<section>
  <h2>Add Ticket</h2>
  <form action="/flights/<%= flight._id %>/tickets" method="POST">
    <label>Seat Number:</label>
    <input name="seat" required pattern="[A-F][1-9]\d?">

    <label>Price:</label>
    <input type="Number" id="price" name="price" min="0" value="0" required>

    <label>Flight:</label>
    <input name="flight" required>

    <input type="submit" value="Add Flight">
  
  </form>
  <a href="/flights"><button>Go Back</button></a>
</section>

<%- include('../partials/footer') %>