<%- include('../partials/header') %>
<section class="add-ticket-container">
  <h2>Add Ticket</h2>
  <form class="add-ticket" action="/flights/<%= flightId %>/tickets" method="POST">
    <label>Seat Number:</label>
    <input name="seat" required pattern="[A-F][1-9]\d?" title="A-F followed by 1-99">

    <label>Price:</label>
    <input type="Number" id="price" name="price" min="0" value="0" required>

    <input type="submit" value="Add Ticket">
  
  </form>
  <a href="/flights/<%= flightId %>"><button>Go Back</button></a>
</section>

<%- include('../partials/footer') %>