#new-flight {
    display: grid;
    grid-template-rows: 8vh 1fr 5vh 5vh;
}


#new-flight > h2 {
    display: flex;
    margin-top: 2vh;
    margin-bottom: 2vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 3vh;
    height: 4vh;
  }

#add-flight {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 50%;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#add-flight > * {
    margin: 1vh;
    width: 100%
}

#add-flight > input:last-of-type {
    grid-column: span 2;
    border-radius: 25px;
    border: 1px solid white;
    padding: 1vh;
    background-color: darkgrey;
    font-style: bold;
}

#add-flight > input:last-of-type:hover {
    background-color: plum;
    border: 1px solid purple;
    color: purple;
}

#add-flight > label {
    font-weight: bold;
    font-style: italic;
}

button {
    border-radius: 25px;
    border: 1px solid white;
    padding: 1vh;
    background-color: darkgrey;
    font-style: bold;
    width: 25vh;
  }
  
  button:hover {
    background-color: plum;
    border: 1px solid purple;
    color: purple;
  }

#new-flight > a {
    display: flex;
    justify-content: center;
    align-items: center;
}